---
import Layout from "../layouts/Layout.astro"
---
<Layout title='Pravidla'>
  <section class="gol-container py-20 xl:text-xl flex flex-col gap-2 items-center">
      <span class="font-black text-4xl mb-10">Game of Life Pravidla</span>
      <span class="font-semibold text-2xl mt-10">Minecraft serveru</span>
      Lze vidět přímo ve hře (golmc.cz) po napsání příkazu "/pravidla".
      <span class="font-semibold text-2xl mt-10">Discord serveru</span>
      Lze vidět na našem Discordu (discord.golmc.cz) v kanále "pravidla".
      <span class="font-semibold text-2xl mt-10">Soutěže</span>
      Lze vidět na stránce pro soutěž od České Spořitelny. (csas.cz/gol)
  </section>
</Layout>
